.root-layout {
  display: flex;
  flex-flow: column nowrap;

  font-family: var(--font-inter);
  font-optical-sizing: auto;

  background-color: var(--color-background);
  color: var(--color-on-background);

  padding: 1rem;
  gap: 1rem;

  @media (width >= 37.5rem) {
    padding: 1.5rem;
    gap: 1.5rem;
  }
}

.root-not-found {
  display: flex;
  flex-flow: column nowrap;

  align-self: center;
  flex: 1 0 auto;

  align-items: center;

  > div {
    display: flex;
    flex-flow: column nowrap;

    flex: 1 0 auto;

    justify-content: center;
    align-items: center;

    gap: 0.5rem;

    > h1 {
      font-family: var(--font-shantell-sans);
      font-variation-settings:
        'INFM' 100,
        'BNCE' 30;
    }
  }
}
