.index-content {
  display: flex;
  flex-flow: column nowrap;

  flex: 1 0 auto;

  justify-content: center;
  align-items: center;

  > div {
    display: flex;
    flex-flow: column nowrap;

    border-radius: 1.75rem;

    background-color: var(--color-primary-container);
    color: var(--color-on-primary-container);

    align-items: center;
    gap: 1.5rem;

    max-width: 28rem;

    padding-block-start: 1.5rem;

    @media (width >= 52.5rem) {
      flex-flow: row nowrap;
      justify-content: space-between;

      max-width: 75rem;
    }

    > h1 {
      font-size: 1.5rem;
      font-weight: 700;
      text-align: center;

      padding-inline: 1.5rem;

      @media (width >= 52.5rem) {
        font-size: 1.75rem;
        text-align: start;

        padding-inline: 3rem 0;
      }

      @media (width >= 75rem) {
        font-size: 2rem;
      }

      > span {
        font-size: 2rem;

        @media (width >= 52.5rem) {
          font-size: 2.5rem;
        }

        @media (width >= 75rem) {
          font-size: 3rem;
        }

        > span {
          font-family: var(--font-shantell-sans);
          font-variation-settings:
            'INFM' 100,
            'BNCE' 50;
        }
      }
    }

    > .index-drawing {
      width: 100%;
      height: auto;

      @media (width >= 52.5rem) {
        width: 50%;
      }
    }
  }
}

.index-footer {
  display: flex;
  flex-flow: column nowrap;

  gap: 0.5rem;

  > ul {
    display: flex;
    justify-content: center;

    gap: 0.5rem;
    padding: 0;

    > li {
      list-style: none;
      margin: 0;

      position: relative;
    }
  }

  > div {
    display: flex;
    flex-flow: column nowrap;

    align-items: center;

    p {
      text-align: center;
    }

    > div {
      display: flex;
      gap: 0.25rem;

      > div {
        font-weight: 700;
      }
    }
  }
}
